.header {
    display: flex;
    width: 1921 px;
    height: 80 px;
    background-color: #228E9D;
}
li {
    display: inline-block;
    width: 72 px;
    height: 22 px;
    background-color: #228E9D;
}
.heading {
    text-align: center;
}
.bodyin {
    display: flex;
    width: 1024 px;
    height: 747 px;
    background-color: #ffffff;
}
.bodycard {
    display: flex-direction column;
    width: 309 px;
    height: 422 px;
    border-block-color: lightgrey;
    background-color: #ffffff;
}
.footer {
    display: flex;
    width: 1920 px;
    height: 80 px;
    background-color: #FCE3C3;
}