﻿.header {
    display: flex;
    width: 1921px;
    height: 80px;
    background-color: #228E9D;
}
body {
    background-color: rgba(34, 142, 157, 0.1);
}
ul {
    list-style-type: none;
}
.main_block {
    display: flex;
    width: 1024px;
    height: 747px;
    background-color: #ffffff;
}

ul li a {
    display: inline-block;
    width: 72px;
    height: 22px;
    background-color: #228E9D;
}

.heading {
    text-align: center;
}
.heading_2type{
    text-align:center;
}
.content_card {
    text-align: center;
}
.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1920px;
    height: 80px;
    background-color: #FCE3C3;
}
.text {
    text-align: center;
}